function : void main()
{
    int* p;
    int* q;
    bool* w;

    if( nullptr == nullptr ) {}
    if( p == nullptr ) {}
    if( q == nullptr ) {}
    if( w == nullptr ) {}
    if( nullptr == p ) {}
    if( nullptr == q ) {}
    if( nullptr == w ) {}
    if( p == q ) {}
    if( q == p ) {}
    if( w == q ) {} // error: target types differ
    if( q == w ) {} // error: target types differ
}
