function : void main()
{
    int* p;
    float* f;
    int[2] a;

    p = nullptr;
    p = a;
    p = f; // error: incompatible target types
    f = a; // error: incompatible target types
    f = nullptr;

}
