int a = 0;
float b = 2.22;
bool c = true;

function: int foo(){
	int d = 3;
	return a|d;
}

function: float foo1(){
	float d = 4.44;
	return b*d; 
}

function: bool foo2(){
	bool d = true;
	return c&&d;
}

function: void main(){
	cout << foo() << endl;
	cout << foo1() << endl;
	cout << foo2() << endl;
}
