structdef S
{
    int these, fields, dont, matter, at, all;
};

function : void main()
{
    int i;
    float f;
    bool b;

    int *ip;
    float *fp;
    bool *bp;

    S s;
    S *sp;

    int [10]a;

    // bool to int, float, ptr
    /*i = */(int) b;
    /*f = */(float) b;
    /*ip = */(int*) b;
    /*fp = */(float*) b;
    /*sp = */(S*) b;

    // int to bool, float, ptr
    /*b = */(bool) i;
    /*f = */(float) i;
    /*ib = */(bool*) i;
    /*fp = */(float*) i;
    /*sp = */(S*) i;

    // float to bool, int, ptr
    /*b = */(bool) f;
    /*i = */(int) f;
    /*ib = */(bool*) f;
    /*ip = */(int*) f;
    /*sp = */(S*) f;

    // ptr to bool, float, int
    // int ptr
    /*b = */(bool) ip;
    /*f = */(float) ip;
    /*i = */(int) ip;
    // float ptr
    /*b = */(bool) fp;
    /*f = */(float) fp;
    /*i = */(int) fp;
    // bool ptr
    /*b = */(bool) bp;
    /*f = */(float) bp;
    /*i = */(int) bp;
    // struct ptr
    /*b = */(bool) sp;
    /*f = */(float) sp;
    /*i = */(int) sp;

    // cast to struct
    /*s = */(S) i;
    /*s = */(S) sp;
    /*s = */(S) bp;

    // illegal casts
    /*i = */(int) a;
    /*b = */(bool) a;
    /*i = */(int) s;
    /*b = */(bool) s;


}
