structdef S
{
    int these, fields, dont, matter, at, all;
};

function : void main()
{
    const int i = 1;
    const float f = 1;
    const bool b = true;

    int *ip;
    float *fp;
    bool *bp;

    S s;
    S *sp;

    int [10]a;


    // try to cast to int array type using decltype
    (decltype(a)) b;

    // try to cast struct ptr to struct using decltype
    (decltype(s)) sp;

    // try to cast to int using decltype (should work)
    (decltype(i)) b;

    // try to cast array to bool ptr
    (float*) a;

    // try casting nullptr to int (this should work)
    (int) nullptr;

    // try casting int to nullptr (this should not work, and is a syntax error)
    (nullptr) i;

}
