function : bool foo()
{
    cout << "in foo" << endl;
    return false;
}

function : void main()
{
    cout << "in main" << endl;
    bool a = foo();
    cout << a << endl;
    cout << "back in main" << endl;
}
