int a = 0;
const int b = 1;
static int c = 2;
function : void main(){
	int d = 3;
	const int e = 4;
	static int f = 5;
	if(f<e)
	{
		if(e==d)
		{
			cout << "fail-o-saurus" << endl;
		}
		else
		{
			cout << "fail" << endl;
		}
	}
	else
	{
		cout << a << endl;
	}
	if(c>b)
	{
		if(b>a)
		{
			if(c>b)
			{
				if(f<a)
				{
					cout << "fail" << endl;
				}
				else
				{
					cout << b << endl;
				}
			}
			else
			{
				cout << "fail" << endl;
			}
		}
		else
		{
			cout << "fail" << endl;
		}
	}
	else
	{
	
	}
}
