const bool a = true;
const bool b = false;

function : void main()
{
    bool c = a || b; // true (short circuit)
    bool d = a && b; // false
    bool e = c != b; // true

    if( a )
    {
        cout << "good1" << endl;
        if( b )
        {
            cout << "bad1" << endl;
            if( c )
            {
                cout << "bad2" endl;
            }
        }
        else
        {
            cout << "good2" << endl;
            if( e )
            {
                cout << "good3" << endl;
            }
            else
            {
                cout << "bad3" << endl;
            }
        }

        if( d )
        {
            cout << "bad4" << endl;
        }
        else
        {
            cout << "good4" << endl;
        }
    }

    if( d )
    {
        cout << "bad5" << endl;
    }
    else
    {
        cout << "good5" << endl;
    }
}
